.tooltip-container {
  margin-top: 20%;
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  z-index: 1;
  margin: 5px;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
}

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  width: 200px;
}

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}
